/clojure/.clojure/.cpcache/
/clojure/.clojure/tools/
/dotfiles/alacritty/.config/alacritty/themes/
fish/.config/fish/fish_variables
/.clj-kondo/
/.lsp/
/dotfiles/foot/.config/foot/themes/
/dotfiles/.clj-kondo/
/dotfiles/.lsp/
