/clojure/.clojure/.cpcache/
/clojure/.clojure/tools/
/dotfiles/alacritty/.config/alacritty/themes/
fish/.config/fish/fish_variables
**/.clj-kondo/
**/.lsp/
**/.calva/
/dotfiles/foot/.config/foot/themes/
/dotfiles/btop/.config/btop/themes/
/dotfiles/doom/.config/doom/active-theme.el
/dotfiles/foot/.config/foot/active-theme
/dotfiles/hypr/.config/hypr/active-theme.lua
/dotfiles/waybar/.config/waybar/active-theme.css
/dotfiles/waybar/.config/waybar/active-compositor.json
/dotfiles/dunst/.config/dunst/active-theme.conf
/dotfiles/rofi/.config/rofi/active-theme.rasi
