* {
    border: none;
    border-radius: 0;
    font-family: HackNerdFont;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 1);
    border-bottom: 0px solid rgba(25, 84, 102, 0.5);
    color: #195466;
}

tooltip {
  background: rgba(9, 31, 46, 0.5);
  border: 1px solid rgba(25, 84, 102, 0.5);
}
tooltip label {
  color: #d3ebe9;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #d3ebe9;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #245361;
    border-bottom: 3px solid #33859e;
}

#workspaces button.active {
    background-color: #245361;
    color: #d3ebe9;
    border-radius: 3px;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #c23127;
    border-bottom: 3px solid #c23127;
}

#clock {
    color:  #edb443
}

#battery {
    color: #195466;
}

#battery.charging {
    color: #d3ebe9;
    background-color: #2aa889;
}

@keyframes blink {
    to {
        background-color: #d3ebe9;
        color: #0c1014;
    }
}

#battery.warning:not(.charging) {
    background: #c23127;
    color: #d3ebe9;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: #195466;
}

#custom-vpn {
    /* padding: 0 5px; */
    /* margin: 0 4px; */
    /* background-color: transparent; */
    /* border-bottom: 2px solid #00ff96; */
    color: #2aa889;
}

#custom-vpn.down {
    color: #c23127;
}

#custom-cpu {
    color: #195466;
}
#custom-cpu.warn {
    color: #edb443;
}
#custom-cpu.crit {
    color: #c23127;
}

#custom-disk {
    color: #195466;
}
#custom-disk.low {
    color: #c23127;
}
#custom-memory {
    color: #195466;
}
#custom-memory.low {
    color: #c23127;
}
#custom-date {
    color: #195466;
}
#custom-weather {
    color: #195466;
}
#custom-music-info {
    color: #33859e;
}

#window {
    margin-left: 8px;
}

#battery {
    color: #195466;
}
#custom-licht {
    color: #195466;
}
#custom-notification-status {
    color: #195466;
}
#pulseaudio {
    color: #195466;
}

#workspaces button.empty {
    color: #4e5166;
}

#custom-snowflake {
    color: #33859e;
    font-size: 15px;
    font-weight: bold;
}
menu {
    border-radius: 15px;
    background: #0c1014;
    color: #d3ebe9;
}
menuitem {
    border-radius: 15px;
}

#custom-sep2b {
    color: #195466;
}

#submap {
    background-color: #c23127;
    color: #d3ebe9;
    padding: 3px 10px;
    font-weight: bold;
    border-radius: 8px;
}

#custom-timer {
    color: #edb443;
    font-weight: bold;
}
