* {
    border: none;
    border-radius: 0;
    font-family: HackNerdFont;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: rgba(229, 233, 240, 1);
    border-bottom: 0px solid rgba(72, 81, 99, 0.5);
    color: #3B6EA8;
}

tooltip {
  background: rgba(229, 233, 240, 0.5);
  border: 1px solid rgba(72, 81, 99, 0.5);
}
tooltip label {
  color: #2E3440;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #3B4252;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #D8DEE9;
    border-bottom: 3px solid #29838D;
}

#workspaces button.active {
    background-color: #3B6EA8;
    color: #E5E9F0;
    border-radius: 3px;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #99324B;
    border-bottom: 3px solid #99324B;
}

#clock {
    color: #9A7500;
}

#battery {
    color: #99324B;
}

#battery.charging {
    color: #99324B;
    background-color: #4F894C;
}

@keyframes blink {
    to {
        background-color: #2E3440;
        color: #E5E9F0;
    }
}

#battery.warning:not(.charging) {
    background: #99324B;
    color: #99324B;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: #3B6EA8;
}

#custom-vpn {
    color: #4F894C;
}

#custom-vpn.down {
    color: #99324B;
}

#custom-cpu {
    color: #3B6EA8;
}
#custom-cpu.warn {
    color: #9A7500;
}
#custom-cpu.crit {
    color: #99324B;
}

#custom-disk {
    color: #3B6EA8;
}
#custom-disk.low {
    color: #99324B;
}
#custom-memory {
    color: #3B6EA8;
}
#custom-memory.low {
    color: #99324B;
}
#custom-date {
    color: #3B6EA8;
}
#custom-weather {
    color: #3B6EA8;
}
#custom-music-info {
    color: #29838D;
}

#window {
    margin-left: 8px;
}

#battery {
    color: #3B6EA8;
}
#custom-licht {
    color: #3B6EA8;
}
#custom-notification-status {
    color: #3B6EA8;
}
#pulseaudio {
    color: #3B6EA8;
}

#workspaces button.empty {
    color: #A1ACC0;
}

#custom-snowflake {
    color: #29838D;
    font-size: 15px;
    font-weight: bold;
}
menu {
    border-radius: 15px;
    background: #E5E9F0;
    color: #2E3440;
}
menuitem {
    border-radius: 15px;
}

#custom-sep2b {
    color: #3B6EA8;
}

#submap {
    background-color: #99324B;
    color: #E5E9F0;
    padding: 3px 10px;
    font-weight: bold;
    border-radius: 8px;
}

#tray {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 0 4px;
}

#custom-timer {
    color: #9A7500;
    font-weight: bold;
}
